# Dependencies
node_modules/

# Environment Variables (Keep local credentials secure)
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db
